/**
 * creativa file
 * User: yamilelias
 * Author URI: <yamileliassoto@gmail.com>
 * Date: 7/12/17
 * Time: 10:18 AM
 */

@import "config";
@import "mixins";

/**
 * General
 */

a {
  .scrollup {
    &:hover {
      color: $primary-blue;
    }
  }
}

/**
 * Header and navigation
 */

.header-wrap {
  .site-branding {
    .site-title {
      a {
        color: $primary-blue;
      }
    }
  }

  .search-cart-wrap {
    margin-top: 50px;

    .advance-search {
      .sv_search_form {
        #searchsubmit {
          background: $primary-blue;

          &:hover {
            background: $primary-yellow;
          }
        }
      }
    }
  }
}

.top-header {
  .top-header-regin {
    ul {
      li {
        span {
          &.cart-count {
            background: $primary-blue none repeat scroll 0 0 !important;

            &:hover{
              background: $primary-yellow !important;
            }
          }
        }
      }
    }

    .count {
      .fa{
        &.fa-shopping-basket{
          &:hover{
            color: $primary-blue;
          }
        }
      }
    }
  }
}

.site-header-cart {
  .woocommerce {
    a {
      &.button {
        &.wc-forward {
          @include background-border($primary-blue);
        }

        &.checkout {
          @include background-border($primary-yellow);
        }
      }
    }
  }
}

.main-navigation {
  background: $primary-blue;

  ul {
    ul {
      background: $primary-blue;
    }

    li {
      ul {
        li {
          &:hover{
            a {
              color: $primary-blue;
            }
          }
        }
      }
    }
  }
}

.main-widget-wrap {
  .block-title span, .block-title span {
    font-size: xx-large;
    color: $primary-blue !important;
  }
}

.widget_storevilla_cat_widget_area {
  .category-slider {
    li {
      .item-img {
        a {
          &:hover {
            .sv_category_count{
              background-color: $primary-yellow;
            }
          }
        }
      }
    }
  }
}

.widget_storevilla_blog_widget_area {
  .blog-preview, .large-blog-preview {
    a {
      &.blog-preview-btn{
        &:hover {
          @include background-border($primary-blue);
        }
      }
    }
  }
}

#storevilla_contact_info_area-2 {
  h4 {
    //text-decoration: capi;
    font-family: Open Sans;
    font-size: xx-large;
    color: #00A3A3 !important;
  }

  .contacts-info {
    margin-left: 10em;
    margin-right: -10em;

    a {
      color: $primary-blue;

      &:hover {
        color: $primary-yellow;
      }
    }

    span {
      &:hover {
        @include background-border($primary-blue);
      }
    }
  }
}

/**
 * Body
 */

.site-content {
  .slider-wrapper {
    ul {
      .store-gallery {
        li {
          .banner-slider-info {
            h2 {
              .caption-title {
                span {
                  color: $primary-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}

.item-img {
  .new-label {
    &.new-top-left {
      @include background-border($primary-yellow);

      &:before {
        border-color: transparent transparent transparent $primary-yellow;
      }
    }
  }
}

.product-button-wrap {
  a {
    &.button, &.added_to_cart {
      @include background-border($primary-blue);
    }

    &.villa-details {
      @include background-border($primary-yellow);
    }
  }
}

/**
 * Footer
 */

footer {
  padding-top: 100px;
  background-image: url('../img/footer_focos.png');
}

.site-footer {
  .bottom-footer-wrap {
    background: $primary-blue;
  }
  .site-info {
    color: white;
  }
}

/**
 * Product view
 */

.store-container {
  #primary {
    width: 100%;
  }
}

.woocommerce {
  div{
    &.product {

      .woocommerce-tabs {
        ul{
          &.tabs {
            li {
              &.active, &:hover{
                background: $primary-blue;
              }
            }
          }
        }

        &.wc-tabs-wrapper {
          h2 {
            color: $primary-blue;
          }
        }

        p {
          &.stars{
            a {
              color: $primary-blue;
            }
          }
        }
      }

      form {
        &.cart {
          div {
            &.quantity {
              border: 1px solid $primary-blue;
            }
          }
        }
      }

      p, span{
        &.price{
          color: $primary-yellow;
        }
      }
    }
  }

  button {
    @include background-border($primary-blue);

    &.button {
      background: $primary-blue;
    }
  }

  #respond {
    input {
      &#submit {
        border: 1px solid $primary-blue;

        &.alt {
          &:hover {
            $background: $primary-blue;
          }
        }
      }
    }

    .woocommerce {
      a {
        &.button {
          $background: $primary-blue;
        }
      }
    }
  }

  a, button, input {
    &.button {
      &.alt {
        &:hover{
          $background: $primary-blue;
        }
      }
    }
  }
}